
.faq {
    max-width: 700px;
    width: 90%;
    margin: 50px auto;
    padding: 30px;
    background: linear-gradient(90deg, #32a852, #3da4ab);
    border-radius: 15px;
}

.faq-item {
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    }


.faq-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.faq-question {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: darkgreen;
    cursor: pointer;
    position: relative;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

.faq-question::after {
    position: relative;
    bottom: 5px;
    content: '+';
    margin-right: 20px;
    font-size: 1.4em;
    color: darkgreen;
    transition: transform 0.3s ease, color 0.3s ease;
}

.faq-answer {
    font-size: 1em;
    color: #5a4040;
    line-height: 1.8em;
    margin-top: 10px;
    display: none;
    font-family: 'Open Sans', sans-serif;
}

.faq-item.active .faq-answer {
    display: block;
    animation: fadeIn 0.5s ease;
}

.faq-item.active .faq-question::after {
    content: '-';
    transform: rotate(180deg);
    color: #ff6347;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
