/* Styles for screens bigger than 820px */

@media only screen and (min-width: 820px) {
    .requestDemo input[type="text"], 
    .requestDemo input[type="email"] {
    margin-right: 30px;
}
}

/* Styles for screens smaller than 820px */

@media only screen and (max-width: 820px) {

    .requestDemo form {
        flex-direction: column;
        width: 100%;
        max-width: 400px; 
        padding: 15px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 10px;
    }

    .requestDemo input[type="submit"] {
        margin-left: 0;
        margin-top: 15px;
        width: 100px;
    }

    .requestDemo {
        width: 100%;
    }


/* Styles for screens smaller than 600px */

@media only screen and (max-width: 600px) {
    .hero-section {
        padding: 10px;
        justify-content: center;
    }

    .mainPicture {
        width: 100%;
        max-width: 300px;
    }

    .requestDemo form {
        width: 100%; 
        
    }

    .requestDemo {
        margin-top: 10px;
        margin-bottom: 10px;
       
    }

    .requestDemo input[type="text"], 
    .requestDemo input[type="email"] {
    max-width: 100%;
    } 
}
}