header {
    width: 100vw; /* Full width of the viewport */
    padding: 20px;
    background-color: darkgreen; 
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
    padding: 0 30px;
}

.logo-header {
    display: flex;
    width: 250px;
    margin-left: 10px;
}

.burgerMenuPic {
    display: flex;
    width: 30px;
    margin-right: 10px;
}



