.header-container {
    display: flex;
    align-items: center;
    background-color: aliceblue;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
}

.logo-header {
    display: flex;
    transform: scale(0.5);
    background-color: orange;
}

.slogan {
    display: flex;
    background-color: khaki;
}
