.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.mainPicture {
    display: flex;
    width: 500px;
    height: auto;
}

.welcome {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.pricing {
    display: flex;
    font-weight: lighter;
}

.requestDemo {
    display: flex;
    justify-content: center;    
    margin-top: 20px;
    width: 2000px;
    margin-bottom: 5px;
}

.requestDemo form {
    display: inline;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form action {
    display: flex;
    justify-content: center;
    
}


#text {
    font-weight: bold;
    text-align: center; 
    width: 100%; 
}

.requestDemo input[type="text"], 
.requestDemo input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}

.requestDemo input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.requestDemo input[type="submit"]:hover {
    background-color: #45a049;
}

